<div class="content-wrapper">
  <section class="content-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item">usuario</li>
        <li class="breadcrumb-item active">Consultar</li>
      </ol>
    </nav>
  </section>

  <section class="conteudo-area">
    <div class="row mb-4 mt-4">
      <div class="col-12">
        <h4>usuarios</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="row mb-1">
          <div class="col-6"> </div>
          <div class="col-6 text-right d-flex justify-content-end">
            <button class="btn-alta-enfase-primario btn" [routerLink]="['/usuario-cadastro']">
              <fa-icon [icon]="['fas', 'plus']" class="pr-2 acao-publicacao"></fa-icon> usuario
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="row mt-4">
          <div class="col-11">
            <h5 class="semi-bold">
              Resultados
            </h5>
          </div>

          <div class="col-12">
            <table class="table table-striped text-left w-100">
              <thead>
                <tr class="table-header">
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Versao</th>
                  <th>Ano</th>
                  <th>Quilometragem</th>
                  <th width="100px;">Ações</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let usuario of usuarios">
                  <td>{{ usuario.marca }}</td>
                  <td>{{ usuario.modelo}}</td>
                  <td>{{ usuario.versao }}</td>
                  <td>{{ usuario.ano }}</td>
                  <td>{{ usuario.quilometragem }}</td>
                  <td style="width: 165px;">
                    <button class="btn-alta-enfase-primario mr-1" style="height: 30px; width: 37px;" (click)="editar(usuario.id)" title="Editar">
                      <fa-icon [icon]="['fas', 'pen']" class="acao"></fa-icon>
                    </button>
                    <button class="btn-alta-enfase-primario mr-1" style="height: 30px; width: 37px;" (click)="deletar(usuario.id)" title="Deletar">
                      <fa-icon [icon]="['fas', 'trash']" class="acao"></fa-icon>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="!usuarios || usuarios.length == 0">
                  <td colspan="6" class="text-center">Não foram encontrados registros</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
