<div class="content-wrapper">
  <section class="content-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item">usuario</li>
        <li class="breadcrumb-item active" *ngIf="this.id <= 0">Adicionar</li>
        <li class="breadcrumb-item active" *ngIf="this.id > 0">Editar</li>
      </ol>
    </nav>
  </section>

  <section class="conteudo-area">
    <div class="row mb-4 mt-4">
      <div class="col-12">
        <h4>Cadastro de usuario</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card w-100 p-3">
          <form [formGroup]="formCadastro">
            <div class="row d-flex justify-content-center mt-4">

              <div class="col-12">
                <div class="select">
                  <select id="sexo" name="sexo" class="ng-touched ng-valid w-100" formControlName="sexo"  >
                    <option value="0">Selecione uma opção</option>
                    <option value="F">Feminino</option>
                    <option value="M">Masculino</option>
                  </select>
                  <label class="label"><span>Sexo</span></label>
                </div>
              </div> <!-- marca -->

            </div> <!-- linha 1 -->

            <div class="row d-flex justify-content-center mt-4">

              <div class="col-6">
								<div class="input-container w-100">
									<input id="Nome" name="Nome" class="input" type="text" autocomplete="off" formControlName="nome">
									<label class="label" for="Nome"><span>Nome</span></label>
								</div>
              </div> <!-- ano -->

              <div class="col-6">
								<div class="input-container w-100">
									<input id="dataNascimento" name="dataNascimento" class="input" type="date" autocomplete="off" formControlName="dataNascimento">
									<label class="label" for="dataNascimento"><span>Nascimento</span></label>
								</div>
							</div> <!-- quilometragem -->

            </div> <!-- linha 2 -->

            
            <div class="row d-flex justify-content-center mt-4">

              <div class="col-6">
								<div class="input-container w-100">
									<input id="email" name="email" class="input" type="text" autocomplete="off" formControlName="email">
									<label class="label" for="email"><span>Email</span></label>
								</div>
              </div> <!-- ano -->

              <div class="col-6">
								<div class="input-container w-100">
									<input id="senha" name="senha" class="input" type="password" autocomplete="off" formControlName="senha">
									<label class="label" for="senha"><span>Senha</span></label>
								</div>
							</div> <!-- quilometragem -->

            </div> <!-- linha 2 -->

           
          </form>

          <div class="row mt-5 text-right">
            <div class="col-12">
              <button id="btn_voltar" name="btn_voltar" class="btn-baixa-enfase-primario pl-5 pr-5 mr-3" [routerLink]="['/usuario-consulta']"> Voltar </button>
              <button id="btn_salvar" name="btn_salvar" class="btn-alta-enfase-verde pl-5 pr-5" (click)="salvar()"> Salvar </button>
            </div>
          </div> <!-- linha ação -->

          <!-- Mensagem de erro -->
          <div class="row mt-3">
            <div class="col-12" *ngIf="erros">
              <div class="alert alert-danger" role="alert">
                <ul>
                  <li *ngFor="let erro of erros">
                    {{erro.descricao}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
